body
{
	margin:0;
	padding:0;
	border:0;
	margin:0px;
	background-color:white;
	width:700px;
		
	padding:2em;
	
	border:0;
	margin: 1em;
	margin-top: 30px;
	background: white url(background.jpg) no-repeat 0 0 ;
}

#bodyContainer
{
	width: 780px;
}