body
{
	font-family: sans-serif;
	background: #F0F0F0;
}
input
{
	border: 1px #000 solid;
}
input[type="text"], input[type="password"]
{
	width: 150px;
}
#container, #footer
{
	margin: 0 auto;
	width: 770px;
	background: #fff;
	padding: 20px;
}
#loginForm
{
	margin: 0 auto;
	border: 1px #fff solid;
}
img
{
	border: 0;
}
h1
{
	font-size: 1.1em;
	overflow: auto;
}
#footer
{
	text-align: center;
	margin-top: 20px;
}
.tdName
{
	width: 510px;
}
.tdSize, .thSize
{
	width: 80px;
	text-align: right;
	padding-right: 20px;
}
table, .cmdUp, #footer
{
	font-size: 0.8em;
}
.cmdLogout
{
	position: relative;
	left: 700px;
	top: 10px;
	color: Red;
}
th
{
	text-align: left;
	white-space: nowrap;
}
th > a
{
	color: inherit;
}
td > a, td > a: visited, .cmdUp a, .cmdUp a: visited, #footer a, #footer a: visited
{
	display: inline-block;
	text-decoration: none;
	color: blue;
}
td > a: hover, .cmdUp a: hover, #footer a: hover
{
	text-decoration: underline;
}
.list
{
	margin: 30px;
}
.listHeader
{
	font-weight: bold;
}

ul.toolbar
{
	padding: 0;
}
ul.toolbar li
{
	float: left;
	list-style-type: none;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	border-right: 1px #000 solid;
}
.clear
{
	clear: both;
}
