<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Main.master.vb" Inherits="FtpBrowserWeb_VB.Main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Rebex - FTP browser - sample</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <form id="form1" runat="server">
	<div id="container">        
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>        
    </div>	
	<div id="footer">
		<a href='http://www.famfamfam.com/lab/icons/silk/'>Icons courtesy of FamFamFam</a>
	</div>    
    </form>
</body>
</html>